.card {
  max-width: 300px;
  margin-bottom: 50px;
}

img {
  height: 250px;
  max-height: 250px;
  object-fit: fill;
}

.mat-card-header .mat-card-title {
  font-size: 15px;
}

.card-header {
  height: 100px;
  max-height: 100px;
  padding: 0;
}

.card-body {
  overflow: hidden;
  text-overflow:ellipsis;
  height: 100px;
  padding: 0;
}