

<mat-card class="card">
    <mat-card-header class="card-header">
        <mat-card-title>{{ movie.movieTitle }}</mat-card-title>
        <mat-card-subtitle><div>{{ movie.movieGenres }}<br>{{ movie.movieRating }} ({{ movie.movieNumberOfVoters.toLocaleString() }} Votes)</div></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{movie.moviePosterLink}}" alt="Poster"  onerror="this.src = 'https://img.freepik.com/premium-vector/vector-illustration-blank-cinema-film-strip-roll-isolated-white-background_362366-229.jpg?w=2000'">
    <mat-card-content class="card-body">
        <p>
            {{ movie.moviePlot || "Plot not available."}}
        </p>
    </mat-card-content>
</mat-card>

